<form action="{% url 'recruitment:search' %}" method="get" class="my-1">

  {% comment %} * Search Bar {% endcomment %}
  <div class="form-inline">
    <input type="text" placeholder="Find your perfect job" value="{{ query|default:"" }}" name="query" class="form-control mr-1" />
    <button type="submit" class="btn btn-success">Search</button>  
  </div>

  {% comment %} * Filter Modal {% endcomment %}
  <button type="button" class="btn btn-secondary my-1" data-toggle="modal" data-target="#filter">Filter</button>

  <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterLabel">Filter Jobs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="container m-2">

              <div>Monthly Salary Range:</div>
              <div class="form-inline">
                <div class="input-group input-group-sm" style="max-width: 130px;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" class="form-control" name="min_salary" placeholder="Min Salary" value="{{ min_salary }}" />
                </div>
                <span class="mx-1">-</span>
                <div class="input-group input-group-sm" style="max-width: 130px;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" class="form-control" name="max_salary" placeholder="Max Salary" value="{{ max_salary }}" />
                </div>
              </div>  
              
              <div class="mt-2">Location:</div>
              <div class="form-inline">
                <input type="text" class="form-control mr-2" name="address" placeholder="Address" value="{{ address }}" />
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control" name="radius" placeholder="Filter Radius" value="{{ radius }}" />
                    <div class="input-group-append">
                      <span class="input-group-text">km</span>
                    </div>
                </div>
              </div>

              <div class="form-check-inline mt-2">
                {% if remote %}
                  <input class="form-check-input" type="checkbox" name="remote" value="remote_only" id="remote" checked>
                {% else %}
                  <input class="form-check-input" type="checkbox" name="remote" value="remote_only" id="remote">
                {% endif %}
                <label class="form-check-label" for="remote">Remote Only</label>
              </div>
              <div class="form-check-inline">
                {% if full_time %}
                  <input class="form-check-input" type="checkbox" name="full_time" value="full_time" id="full_time" checked>
                {% else %}
                  <input class="form-check-input" type="checkbox" name="full_time" value="full_time" id="full_time">
                {% endif %}
                <label class="form-check-label" for="full_time">Full Time</label>
              </div>
              <div class="form-check-inline">
                {% if part_time %}
                  <input class="form-check-input" type="checkbox" name="part_time" value="part_time" id="part_time" checked>
                {% else %}
                  <input class="form-check-input" type="checkbox" name="part_time" value="part_time" id="part_time">
                {% endif %}
                <label class="form-check-label" for="part_time">Part Time</label>
              </div>
              <div class="form-check-inline">
                {% if intern %}
                  <input class="form-check-input" type="checkbox" name="intern" value="intern" id="intern" checked>
                {% else %}
                  <input class="form-check-input" type="checkbox" name="intern" value="intern" id="intern">
                {% endif %}
                  <label class="form-check-label" for="intern">Internship</label>
              </div>

              <div class="form-inline mt-2">
                <select class="form-select" aria-label="Default select example" name="date">
                  <option selected disabled>Date Posted</option>
                  <option value="any">Any Date</option>
                  <option value="week">Last Week</option>
                  <option value="month">Last Month</option>
                  <option value="year">Last Year</option>
                </select>
              </div>
              

              {% comment %} * Sort dropdown {% endcomment %}
              <select class="form-select mt-2" aria-label="Default select example" name="sort">
                <option selected disabled>Sort By</option>
                <option value="salary_low">Salary: low to high</option>
                <option value="salary_high">Salary: high to low</option>
                <option value="dist_low">Nearest</option>
                <option value="newest">Newest</option>
              </select>

            </div>
        </div>
        <div class="modal-footer">
          {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
          <button type="submit" class="btn btn-success">Apply Filters</button>
        </div>
      </div>
    </div>
  </div>
</form>