{% load templates %}
{% load humanize %}

<div class="card my-1">
    <div class="card-body">
        <a href="{% url 'recruitment:details' job.id %}">
            <h3 class="card-title text-dark">{{ job.title }}</h3>
        </a>
        <div class="card-text">
            <div>${{ job.monthly_pay|div:'1000' }}k/month</div>
            <div>{{ job.company }}</div>
            <div>
                {{ job.address }} 
                {% if job.distance %}
                    ({{ job.distance.km|floatformat:1 }}km away)
                {% endif %}
            </div>
        </div>
    </div>
</div>