{% extends 'recruitment/layout.html' %}
{% load templates %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <h1 class="text-info text-center mt-4">Search Vacancies</h1>
        <hr class="mb-4">
        <form action="{% url 'recruitment:search' %}" method="get">
          <div class="input-group input-group-lg">
            <input type="text" placeholder="Find your perfect job" name="query" class="form-control mr-1" />
            <input type="checkbox" name="full_time" value="full_time" hidden checked>
            <input type="checkbox" name="part_time" value="part_time" hidden checked>
            <input type="checkbox" name="intern" value="intern" hidden checked>
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
